{%- liquid
  assign hide_icon_labels = true
  if nav_position == 'below'
    assign hide_icon_labels = false
  endif
-%}

<div class="site-nav">
  <div class="site-nav__icons">
    <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if nav_position == 'below' %} medium-up--hide{% endif %} js-no-transition">
      <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22.7813 22.7812L17.6934 17.7188M19.8956 12.0572C19.8956 13.6075 19.4359 15.123 18.5746 16.412C17.7133 17.701 16.4891 18.7057 15.0568 19.299C13.6245 19.8922 12.0485 20.0475 10.528 19.745C9.00748 19.4426 7.6108 18.696 6.51458 17.5998C5.41835 16.5036 4.67181 15.1069 4.36937 13.5864C4.06692 12.0659 4.22215 10.4898 4.81542 9.05755C5.40869 7.62526 6.41336 6.40106 7.70239 5.53976C8.99141 4.67847 10.5069 4.21875 12.0572 4.21875C13.0865 4.21875 14.1058 4.4215 15.0568 4.81542C16.0078 5.20933 16.8719 5.78671 17.5998 6.51458C18.3277 7.24244 18.905 8.10654 19.299 9.05755C19.6929 10.0086 19.8956 11.0278 19.8956 12.0572V12.0572Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
      </svg>
      <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
    </a>

    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide site-nav__link--icon-user" href="{{ routes.account_url }}">
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.7656 16.8073V15.7399C16.1578 14.9341 17.2969 12.9302 17.2969 10.9221C17.2969 7.7032 17.2969 5.0918 13.5 5.0918C9.70312 5.0918 9.70312 7.7032 9.70312 10.9221C9.70312 12.9302 10.8422 14.9341 12.2344 15.7399V16.8073C7.93969 17.1659 4.64062 19.3385 4.64062 21.9373H22.3594C22.3594 19.3259 19.0603 17.1659 14.7656 16.8073Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
        </svg>
        <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
          {{ 'layout.customer.account' | t }}
        </span>
      </a>
    {%- endif -%}

    <a href="{{ routes.cart_url }}"
      id="HeaderCartTrigger"
      aria-controls="HeaderCart"
      class="site-nav__link site-nav__link--icon js-no-transition"
      data-icon="{{ settings.cart_icon }}">
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
        {%- elsif settings.cart_icon == 'bag-minimal' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag-minimal" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path id="svg_2" data-name="svg 2" class="cls-1" d="M22.53 16.61c0-7.1 4.35-9 9.75-9s9.75 1.9 9.75 9"/><path id="svg_4" data-name="svg 4" class="cls-1" d="M11.66 16.65h41.25V53.4H11.66z"/></svg>
        {%- else -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="cls-1" d="M24.23 18c0-7.75 3.92-14 8.75-14s8.74 6.29 8.74 14M14.74 18h36.51l3.59 36.73h-43.7z"/></svg>
        {%- endif -%}
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">
          <span class="cart-link__bubble-num">{{ cart.item_count }}</span>
        </span>
      </span>
      <span class="site-nav__icon-label small--hide{% if hide_icon_labels %} icon__fallback-text{% endif %}">
        {{ 'layout.cart.title' | t }}
      </span>
    </a>

    <button type="button"
      class="site-nav__link site-nav__link--icon hamburger-icon-desktop">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>
      <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
    </button>

    <button type="button"
      aria-controls="MobileNav"
      class="site-nav__link site-nav__link--icon medium-up--hide mobile-nav-trigger site-nav__mobile-nav-trigger">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path class="cls-1" d="M7 15h51">.</path><path class="cls-1" d="M7 32h43">.</path><path class="cls-1" d="M7 49h51">.</path></svg>
      <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
    </button>
  </div>

  <div class="site-nav__close-cart">
    <button type="button" class="site-nav__link site-nav__link--icon js-close-header-cart">
      <span>{{ 'general.accessibility.close' | t }}</span>
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/></svg>
    </button>
  </div>
</div>
