<div class="payment_icons_container">
  <img loading="lazy" src="{{ 'Amex.jpg' | asset_url }}" alt="amex" width="70" height="48">
  <img loading="lazy" src="{{ 'ApplePay.jpg' | asset_url }}" alt="ApplePay" width="70" height="48">
  <img loading="lazy" src="{{ 'GooglePay.jpg' | asset_url }}" alt="GooglePay" width="70" height="48">
  <img loading="lazy" src="{{ 'Klarna.jpg' | asset_url }}" alt="Klarna" width="70" height="48">
  <img loading="lazy" src="{{ 'Mastercard.jpg' | asset_url }}" alt="Mastercard" width="70" height="48">
  <img loading="lazy" src="{{ 'PayPal.jpg' | asset_url }}" alt="PayPal" width="70" height="48">
  <img loading="lazy" src="{{ 'ShopPay.jpg' | asset_url }}" alt="ShopPay" width="70" height="48">
  <img loading="lazy" src="{{ 'Visa.jpg' | asset_url }}" alt="Visa" width="70" height="48">
  <img loading="lazy" src="{{ 'Zip.jpg' | asset_url }}" alt="zip" width="70" height="48">
  <img loading="lazy" src="{{ 'Humm.jpg' | asset_url }}" alt="humm" width="70" height="48">
</div>

<style>
  .payment_icons_container{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .payment_icons_container img{
    width: 37.5px;
    height: auto;
    margin-right:5px;
  }
</style>