<div class="product-card">
  <div class="product-card__inner">
    <a href="{{ product.url }}" class="product-card__thumb">
      {{ product.featured_image | collection_img_url | img_tag  }}
      {% if product.compare_at_price > product.price %}
      <span class="sale-badge">Sale</span>
      {% endif %}
    </a>
    <div class="product-card__entry">
      <h4 class="product-card__title">
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h4>
      <div class="product-card__price">
        <div class="prod-price">
          <span>{{ product.price | money | remove: '.00' }}</span>
          {% if product.compare_at_price > product.price %}
            <span class="prod-c-price">{{ product.compare_at_price | money | remove: '.00' }}</span>
            <span class="sale-text">Sale</span>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div> 
</div>