{% assign headItem1 = 'Basins Range : /collections/basins : /#' | split: " : " %}
{% assign subItems1 = 'Terrazo Basins : /collections/terrazzo-basins, Concrete Basins : /collections/concrete-basins, Ceramic Basins : /collections/ceramic-basins' | split: ", " %}

{% assign headItem2 = 'Bathroom Accesories : /collections/bathroom-accessories : /#' | split: " : " %}
{% assign subItems2 = 'Towel Rails : /collections/towel-rails, Toilet Roll Holders : /collections/toilet-roll-holders, Robe Hooks : /collections/robe-hooks, Basin Wastes : /collections/basin-wastes' | split: ", " %}

{% assign headItem3 = 'Shop by Type : /collections/basins : /#' | split: " : " %}
{% assign subItems3 = 'Round Basins : /collections/round-bathroom-basins, Square Basins : /collections/square-bathroom-basins, Marble Look Basins : /collections/marble-look-basins, Stone Basins : /collections/stone-bathroom-basins' | split: ", " %}

{% assign product = all_products[section.settings.product] %}
<div class="megamenu-block__mega-inner sub-megamenu">
  
  <ul class="megamenu-block__mega-item sub-megamenu__ul sub-megamenu__item">
    <li class="sub-megamenu__nav-item sub-megamenu__nav-item-first">
      <div class="sub-megamenu__nav-item-entry">
        <span class="megamenu-label">{{ headItem1[0] }}</span>
        <a href="{{ headItem1[1] }}">
          View All 
          <span class="megamenu-block__item-icon-arrow">{%- render 'theme-icon' with 'arrow-next' -%}</span>
        </a>
      </div>
      {{ 'm-menu-image-7.png' | asset_url | img_tag: 'menu-icon' }}
    </li>
    {% for sub1 in subItems1 %} {% assign subItem = sub1 | split: " : "%}
    <li class="sub-megamenu__nav-item">
      <a href="{{ subItem[1] }}">{{ subItem[0] }}</a>
    </li>
    {% endfor %}
  </ul>

  <ul class="megamenu-block__mega-item sub-megamenu__ul sub-megamenu__item">
    <li class="sub-megamenu__nav-item sub-megamenu__nav-item-first">
      <div class="sub-megamenu__nav-item-entry">
        <span class="megamenu-label">{{ headItem2[0] }}</span>
        <a href="{{ headItem2[1] }}">
          View All
          <span class="megamenu-block__item-icon-arrow">{%- render 'theme-icon' with 'arrow-next' -%}</span>
        </a>
      </div>
      {{ 'm-menu-image-8.png' | asset_url | img_tag: 'menu-icon' }}
    </li>
    {% for sub2 in subItems2 %} {% assign subItem = sub2 | split: " : "%}
    <li class="sub-megamenu__nav-item">
      <a href="{{ subItem[1] }}">{{ subItem[0] }}</a>
    </li>
    {% endfor %}
  </ul>

  <ul class="megamenu-block__mega-item sub-megamenu__ul sub-megamenu__item">
    <li class="sub-megamenu__nav-item sub-megamenu__nav-item-first">
      <div class="sub-megamenu__nav-item-entry">
        <span class="megamenu-label">{{ headItem3[0] }}</span>
        <a href="{{ headItem3[1] }}">
          View All
          <span class="megamenu-block__item-icon-arrow">{%- render 'theme-icon' with 'arrow-next' -%}</span>
        </a>
      </div>
      {{ 'm-menu-image-9.png' | asset_url | img_tag: 'menu-icon' }}
    </li>
    {% for sub3 in subItems3 %} {% assign subItem = sub3 | split: " : "%}
    <li class="sub-megamenu__nav-item">
      <a href="{{ subItem[1] }}">{{ subItem[0] }}</a>
    </li>
    {% endfor %}
  </ul>

  <div class="megamenu-block__mega-extra sub-megamenu__item __inner-center-flex">
    {%- render 'product-card', section: section, product: product -%}
  </div>

</div>