{% capture classes_mode %}
{% if content_for_header contains "previewBarInjector.init();" %}
__preview_mode
{% elsif content_for_header contains "Shopify.designMode" %}
__customizer_mode
{% else %}
__live_mode
{% endif %}
{% endcapture %}

{% assign ColourFilterList = "Brushed Stainless Steel, Brushed Copper, Brushed Gunmetal, Brushed Brass Gold" | split: ", " %}
{% assign featuresList = "1.5mm Thick Stainless Steel : ficon-1.svg, Under or Over Mount Compatible : ficon-2.svg, Anti Condensation Paint Underneath : ficon-3.svg, Sound Deadening Pads : ficon-4.svg, 304 Grade Stainless Steel : ficon-5.svg, Hand Welded not pressed : ficon-6.svg" | split: ", " %}

<div style="height: 80px;"></div> <!-- space top -->

<section class="page-section page-products_list">
  <div class="subsection subsection2">
    <div class="section-container">

      <div class="page-width">
        
        <div class="page-ss-heading text-center">
          <h4 class="page-ss-heading__heading-text">{{ section.settings.ss_heading }}</h4>
          <div class="page-ss-heading__sub-heading-text">{{ section.settings.ss_sub_heading }}</div>
        </div> <!-- .page-ss-heading -->

        <div class="products__filter-color-select">
          <div class="products__filter-color-select--current-selected text-center">Colour <span class="__filter-current-value">(no select)</span></div>
          <select id="ProductFilterColourField" data-site-mode="{{ classes_mode | strip }}">
            {% for colour in ColourFilterList %}
            <option value="{{ colour }}" data-icon-class="{{ colour | downcase | replace: " ", "-" }}">{{ colour }}</option>
            {% endfor %}
          </select>
        </div> <!-- .products__filter-color-select -->

      </div> 

      <div class="page-width">
        <div class="features-inline">
          <div class="features-inline__inner">
            <ul class="features-inline__ul">
              {% for f_item in featuresList %} {% assign fitem_arr = f_item | split: " : " %}
              <li class="features-inline__item">
                {{ fitem_arr[1] | asset_url | img_tag: 'f-icon' }}
                <div class="f-name">{{ fitem_arr[0] }}</div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div> <!-- .features-inline -->
      </div>

      <div class="page-width">
        {% render 'product-list-table-block', section: section %}
      </div>

    </div>
  </div>
</section>
{% schema %}

{
  "name": "Section Products 2",
  "settings": [ 
    {
      "type": "text",
      "id": "ss_heading",
      "label": "Heading"
    }, 
    {
      "type": "textarea",
      "id": "ss_sub_heading",
      "label": "Sub-Heading"
    }, {
      "type": "checkbox",
      "id": "enable_filter_colour",
      "label": "Enable Filter Colour"
    },
    {
      "type": "checkbox",
      "id": "enable_features",
      "label": "Enable Features"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Item",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }, {
          "type": "image_picker",
          "id": "p_image",
          "label": "Image"
        }, {
          "type": "text",
          "id": "p_stock_status",
          "label": "Stock Status"
        }, {
          "type": "select",
          "id": "p_colour",
          "label": "Colour",
          "options": [
            {
              "value": "Brushed Stainless Steel",
              "label": "Brushed Stainless Steel"
            },
            {
              "value": "Brushed Copper",
              "label": "Brushed Copper"
            },
            {
              "value": "Brushed Gunmetal",
              "label": "Brushed Gunmetal"
            },
            {
              "value": "Brushed Brass Gold",
              "label": "Brushed Brass Gold"
            }
          ],
          "default": "Brushed Stainless Steel" 
        }, {
          "type": "text",
          "id": "p_moniker_override",
          "label": "Moniker Override"
        }
      ]
    }
  ]
}

{% endschema %}